.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
table{
  border: 5px solid rgb(39, 16, 16);
  background-color: rgb(187, 173, 173);
  width: '100%';

}
th{
  border: 5px solid black;
  background-color: teal;
  text-align: center;
  font-style: normal;
  height: 50px;
  padding: 5px;
}
td {
  border: 2px solid black;
  text-align: center;
  font-style: normal;
  vertical-align: bottom;
  padding: 5px;
  
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: yellowgreen;}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: rgb(155, 88, 88);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
